.nav-links {
  border: 5px solid cornflowerblue;
  padding: 10px;
  margin: 0px 200px;
  justify-content: center;
  font-size: 30px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  background: yellow;
}
