h2 {
  color: darkblue;
  display: flex;
  justify-content: center;
  font-size: xxx-large;
}

.details {
  display: grid;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: darkorange;
  color: midnightblue;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  box-shadow: 25px 25px 25px 0 white inset, -25px -25px 25px 0 white inset;
}
